derby.log
.nbrun
*.class
*.orig
.DS_Store
.orig
.rej
.tmp
.swp
.idea/
tags/
gensrc/
.ant-targets-build.xml
nb-configuration.xml
.classpath/
.project/
.externalToolBuilders/
^hs_err_pid*
*.orig$
target/
node_modules/
build/
package-lock.json
nbproject/

# System Files
Thumbs.db

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/demo/demo-project/nbproject/
/demo/demo-server-spi/nbproject/
/demo/demo-client/nbproject/

/demo/demo-server-spi/src/
/demo/demo-client/src/
/demo/demo-model/src/
/test/maven-plugin-test/nbproject/
/blog-example/blog-service-model/nbproject/

# These files are generated on every build - do not
# commit them
/test/maven-plugin-test/src/test/
/blog-example/blog-service-model/src/test/*
/blog-example/blog-service-model/src/main/*
/blog-example/blog-generated-client-sdk/src/main/java/*
/blog-example/blog-generated-acteur-server/src/main/java/*
/blog-example/blog-generated-business-logic-spi/src/main/java/*
/blog-example/blog-generated-acteur-server/src/test/java/*
/blog-example/blog-generated-acteur-server/src/main/resources/com
/blog-example/blog-generated-vertx-server/src/main/java
/blog-example/blog-generated-vertx-server/src/main/resources
/blog-example/blog-generated-vertx-server/src/test/java
/blog-example/blog-demo-backend/nbproject/
/blog-example/blog-model-typescript/src/
/blog-example/blog-model-typescript/build/
/blog-example/blog-model-typescript/dist/
/blog-example/blog-model-typescript/node_modules/
/blog-example/blog-web-ui
# Generated typescript tests
blog-example/blog-model-typescript/test-src/
/maven-plugin-test/test-src/generated
